# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
.venv/
ENV/
env.bak/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data files
*.csv
*.tsv
*.h5
*.hdf5
*.db
*.sqlite
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db

# Environment variables
*.env

# Logs
*.log

# Model files
*.ckpt